section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  margin: 33px;
  border: 15px solid lightblue;
  outline: 10px solid darkblue;
   /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}

